aws-cdk.core==1.130.0
aws_cdk.aws_cloudformation==1.130.0
aws_cdk.aws_events==1.130.0
aws_cdk.aws_events_targets==1.130.0
aws_cdk.aws_iam==1.130.0
aws_cdk.aws_kinesisfirehose==1.130.0
aws_cdk.aws_lambda==1.130.0
aws_cdk.aws_logs==1.130.0
