requests==2.31.0
opensearch-py==2.3.2
geoip2==4.7.0
aws-lambda-powertools==2.26.0
xmltodict==0.13.0
attrs==23.1.0
ua-parser==0.18.0

# to fix dependency and conflicts
botocore==1.29.76
boto3==1.26.76
urllib3>=1.26
