boto3
aws-cdk.core==1.145.0
aws-cdk.aws-apigateway==1.145.0
aws-cdk.aws-cloudformation==1.145.0
aws_cdk.aws_cloudwatch==1.145.0
aws_cdk.aws_cloudwatch_actions==1.145.0
aws-cdk.aws-ec2==1.145.0
aws-cdk.aws-events==1.145.0
aws-cdk.aws-events-targets==1.145.0
aws-cdk.aws-iam==1.145.0
aws-cdk.aws-kinesis==1.145.0
aws-cdk.aws-kms==1.145.0
aws-cdk.aws-lambda==1.145.0
aws-cdk.aws-lambda-event-sources==1.145.0
aws-cdk.aws-logs==1.145.0
aws-cdk.aws-s3-notifications==1.145.0
aws-cdk.aws-sns==1.145.0
aws-cdk.aws-sns-subscriptions==1.145.0
aws-cdk.aws-sqs==1.145.0
aws-cdk.region-info==1.145.0
