boto3
aws-cdk.core==1.130.0
aws_cdk.aws_apigateway==1.130.0
aws_cdk.aws_cloudformation==1.130.0
aws_cdk.aws_ec2==1.130.0
aws_cdk.aws_events==1.130.0
aws_cdk.aws_events_targets==1.130.0
aws_cdk.aws_iam==1.130.0
aws_cdk.aws_kinesis==1.130.0
aws_cdk.aws_kms==1.130.0
aws_cdk.aws_lambda==1.130.0
aws_cdk.aws_lambda_event_sources==1.130.0
aws_cdk.aws_logs==1.130.0
aws_cdk.aws_s3_notifications==1.130.0
aws_cdk.aws_sns==1.130.0
aws_cdk.aws_sns_subscriptions==1.130.0
aws_cdk.aws_sqs==1.130.0
aws_cdk.region_info==1.130.0
